#formLogin {
	height: 100%;
	background-image: url("#{$img}/landing.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;

	.align-items-center {
		min-height: 100%;
		background: linear-gradient(135deg, rgba(white, 0.4) 0%, rgba($color2, 0.6) 30%, rgba($color1, 1) 90%);

		.card {
			background-color: rgba($color2, 0.6);
			box-shadow: 0 2px 5px 0 $grey;

			img {
				height: 100px;
				padding: 10px;
				border: 5px solid white;
				border-radius: 100%;
				margin-bottom: 25px;
			}
		}
	}

	.form-control {
		border-radius: 20px;
		background-color: rgba(white, 0.3);
	}
}